body{
    background-color: #FFDDD2;
}
.image-container .content {
  padding-top: 60px;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 3%
}

.image-caption {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin: 0;
}

.image-caption figcaption {
  margin: 0;
}


section{
  max-width: 100%;
  margin-left: 11%;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: inline-block;
    max-width: 350px;
    max-height: 350px;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin: 0;
}

.image-caption figcaption {
  margin: 0;
}

@media only screen and (max-width: 1100px){
    section{
    margin-left: 8%;
}
    footer{
    position: fixed;
    bottom: 0;
    }
}
ul{
  position: unset;
}
